:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;
  --azul: #151396;
  --naranja: #ff8c00;

  --fuente-principal: 3.8rem;
}
html {
  font-size: 62.5%;
  margin: 0;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 16px; /* 1rem = 10px */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  position: relative;
  padding-bottom: 3em;
  min-height: 100vh;
}
.titulo {
  text-align: center;
  font-size: 3rem;
  margin: 0;
}
.span-idc {
  font-size: 2rem;
  text-align: right;
}
* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  font-family: sans-serif;
}
.slider {
  width: 100%;
  height: 600px;
  overflow: hidden;
  background-size: cover;
}
.slider ul {
  display: flex;
  animation: cambio 20s infinite alternate;
  width: 400%;
}
.slider li {
  width: 50%;
  list-style: none;
}
.slider img {
  width: 100%;
  /* height: 40%; */
  margin: 0;
}
.contenido-slider-texto {
  width: auto;
  min-width: 300px;
  max-width: 700px;
  /* position: absolute; */
  color: var(--blanco);
  /* padding: -30rem;
    bottom: 20rem;
    left: 50rem;
    top: 20rem;
    right: 50rem; */
  border: solid;
  background-color: #ff8c00;
  margin: auto;
  margin-top: -200px;
  margin-bottom: 100px;
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .slider,
  .slider ul,
  .slider img {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 70%;
    background-size: cover;
  }
}

.contenedor {
  width: 120rem;
  margin: 0 auto;
}

.nav-bg {
  overflow: hidden;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
  background: rgb(69, 72, 77); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(69, 72, 77, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(69, 72, 77, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(69, 72, 77, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.navegacion-principal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navegacion-principal a {
  padding: 1rem;
  flex-direction: column;
  color: var(--blanco);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
}
.navegacion-principal a:hover {
  background-color: var(--gris);
  padding: 1rem;
  color: var(--oscuro);
}

@media (min-width: 768px) {
  .navegacion-principal {
    flex-direction: row;
  }
}

/* Nosotros */

.text-secundario {
  text-align: center;
  padding: 1rem;
  justify-content: space-between;
  background-color: var(--primario);
}

.text-terciario {
  text-align: center;
  font-size: 4rem;
}

.mas {
  text-align: center;
  font-size: 3rem;
}

#grid {
  height: 80rem;
  display: grid;
  color: var(--blanco);
  background-color: var(--gris);
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

/* Proveedores */
/*Contacto*/

.body {
  min-height: 100vh;
  background-image: url(../img/foto\ para\ contacto.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contenedor-cont .form .form-header .form-title {
  font-weight: normal;
  font-family: sans-serif;
  color: var(--naranja);
  text-align: center;
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contenedor-cont .form .form-header .form-title span {
  color: var(--blanco);
}
.contenedor-cont .form {
  background: rgba(0, 0, 0, 0.6);
  width: 90%;
  max-width: 650px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 0px;
  padding-bottom: 30px;
  border-radius: 3px;
}
.contenedor-cont .form .form-label {
  display: block;
  color: var(--blanco);
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
}
.contenedor-cont .form .form-imput,
.form-textarea {
  background: rgba(0, 0, 0, 0.7);
  border: none;
  outline: none;
  border-bottom: 2px solid #ff851b;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 14px;
  color: var(--blanco);
}
.contenedor-cont .form .form-textarea {
  resize: vertical;
  max-height: 150px;
  min-height: 50px;
}

.contenedor-cont .form .btn-submit {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  outline: none;
  background: var(--naranja);
  font-size: 16px;
  border: none;
  color: var(--blanco);
  padding: 15px 0;
  cursor: pointer;
  transition: all 0.5s ease;
}
.contenedor-cont .form .btn-submit:hover {
  background: #f29710;
}

/*Ecommerce*/

footer {
  width: 100%;
  background: #202020;
  color: white;
}

.container-footer-all {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

.container-body {
  display: flex;
  justify-content: space-between;
}

.colum1 {
  max-width: 400px;
}

.colum1 h3 {
  font-size: 22px;
}

.colum1 p {
  font-size: 14px;
  color: #c7c7c7;
  margin-top: 20px;
}

.colum2 {
  max-width: 400px;
}

.colum2 h3 {
  font-size: 22px;
}

.row {
  margin-top: 20px;
  display: flex;
}

.row img {
  width: 36px;
  height: 36px;
}

.row label {
  margin-top: 10px;
  margin-left: 20px;
  color: #c7c7c7;
}

.colum3 {
  max-width: 400px;
}

.colum3 h3 {
  font-size: 22px;
}

.row2 {
  margin-top: 20px;
  display: flex;
}

.row2 img {
  width: 36px;
  height: 36px;
}

.row2 label {
  margin-top: 10px;
  margin-left: 20px;
  max-width: 140px;
}

.container-footer {
  width: 100%;
  background: #101010;
}

.footer {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.copyright {
  color: #c7c7c7;
}

.copyright a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.information a {
  text-decoration: none;
  color: #c7c7c7;
}

@media screen and (max-width: 1100px) {
  .container-body {
    flex-wrap: wrap;
  }

  .colum1 {
    max-width: 100%;
  }

  .colum2,
  .colum3 {
    margin-top: 40px;
  }
}
